MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=polyglot

DB_HOST=localhost
DB_PORT=5432
DB_NAME=polyglot
DB_USER=postgres
DB_PASSWORD=postgres

IS_DEV_MODE=True
# Secure - только HTTPS
SESSION_COOKIE_SECURE=True,

# HttpOnly - недоступен из JavaScript
SESSION_COOKIE_HTTPONLY=True,

# SameSite - защита от CSRF
SESSION_COOKIE_SAMESITE='Lax',  # или 'Strict'

# Домен - ограничить домен
SESSION_COOKIE_DOMAIN='.yourdomain.com',

# Путь - ограничить путь
SESSION_COOKIE_PATH='/',

# Максимальный возраст # 1 час
PERMANENT_SESSION_LIFETIME=3600

